*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.app,
.cont{
  width: 100%;
  min-height: 100vh;
  background: rgb(57, 161, 162);
    background: linear-gradient(0deg, rgba(57, 161, 162, 1) 0%, rgba(45, 95, 253, 1) 100%);
  display: flex;
}

.waste{
  display: none;
}

h1{
  font-size: 20px;
  font-weight: 500;
}

h2{
  font-size: 14px;
  font-weight: 500;
}

h3{
  font-size: 14px;
}

p{
  font-size: 14px;
}

li{
  list-style: none;
}

input{
  height: 40px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

textarea{
  max-height: 160px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

select{
  padding: 5px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

option{
  padding: 0 10px;
}


.main-container{
  width: 100%;
  min-height: 100vh;
}

/* sign in starts*/

#sign{
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(57, 161, 162);
  background: linear-gradient(0deg, rgba(57, 161, 162, 1) 0%, rgba(45, 95, 253, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign h1,
#sign label{
  /* color: rgb(79, 102, 177); */
  color: white;
}

#sign input,
#sign input:focus{
  background: none;
  border: 2px solid white;
  color: white;
}

.sign-container form{
  width: 380px;
  height: 400px;
  /* background-color: white; */
  border: 3px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#sign .btn{
  height: 35px;
  border: 1px solid white;
}

#reg{
  margin-top: -20px;
  background-color: rgb(31, 99, 208);
}

#reg:hover{
  background-color: rgb(19, 65, 139);
}

.sign-fields{
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sidebar */

.sidebar{
  position: relative;
  z-index: 5;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-badge{
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image-cont{
  width: 70px;
  height: 70px;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 50%;
}

.sidebar-btn{
  cursor: pointer;
  width: 190px;
  height: 50px;
  padding: 0 25px 0 10px;
  margin: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.on{
  background-color: rgb(73, 173, 203);
  box-shadow: 1px 1px 10px .5px rgba(77, 158, 205, 0.705);
}

.off{
  background-color: rgb(194, 202, 204);
}

.off:hover{
  box-shadow: 1px 1px 10px .5px rgba(194, 202, 204, 0.705);
  scale: 1.05;
}


/* nav starts */

.nav{
  position: relative;
  z-index: 5;
  width: 100%;
  height: 70px;
  padding: 0 60px 0 20px;
  background-color: white;
  border-left: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-text{
  display: flex;
}

.nav-text h2:nth-of-type(1){
  margin-right: 5px;
  color: rgb(143, 143, 143);
}

.nav-right{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav input{
  width: 260px;
  height: 30px;
  padding: 0 5px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 3px .5px rgba(96, 96, 96, 0.412);
}

.nav input:focus{
  outline: none;
}

.search-btn{
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-left: -30px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px .5px rgba(96, 96, 96, 0.412);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right a{
  margin-right: 50px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-right img{
  height: 18px;
}

.shadow{
  position: absolute;
  z-index: 4;
  width: 86%;
  height: 70px;
  box-shadow: 1px 2px 15px -2px rgba(0, 0, 0, 0.24);
}

/* dashboard */

.dashboard{
  width: 100%;
  min-height: 90vh;
  padding: 10px 30px;
}

.graphs{
  display: flex;
  gap: 30px;
}

.graph-container{
  width: 400px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;  
}

.graph{
  width: 100%;
  height: 180px;
  background-color: rgb(56, 56, 56);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie{
  width: 120px;
  height: 120px;
  margin-left: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend{
  width: 170px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
}

.pie-color{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 2px;
}

.legend p{
  width: 150px;
}

.graph-container h2{
  margin: 10px 0 0 10px;
}

.projects-container{
  width: 1260px;
  min-height: 330px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.projects-container ul{
  overflow-y: scroll;
    overflow-x: hidden;
}

.project-head{
  min-height: 50px;
  padding: 0 30px;
  border-bottom: 1px solid rgba(208, 208, 208, 0.574);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  cursor: pointer;
  width: 100px;
  height: 25px;
  background-color: rgb(118, 209, 240);
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in-out;
}

.btn:hover{
  background-color: rgb(98, 178, 205);
}

.project-list-name{
  min-height: 40px;
  padding: 0 30px;
  background-color: rgb(243, 243, 243);
  color: rgb(153, 153, 153);
  display: flex;
  align-items: center;
}

.project-list-name > h2{
  font-size: 12px;
}

.project-item{
  height: 40px;
  padding: 0 30px;
  border-bottom: 1px solid rgb(234, 234, 234);
  display: flex;
  align-items: center;
}

.project-name{
  cursor: pointer;
}

.project-name:hover{
  color: rgb(2, 26, 180);
}

.project-list-name > h2:nth-child(1),
.project-item > h2:nth-child(1){
  min-width: 20%;
  padding-right: 20px;
}

.project-list-name>h2:nth-child(2),
.project-item>p:nth-child(2) {
  min-width: 50%;
  padding-right: 30px;
}

.project-list-name>h2:nth-child(3),
.project-item>p:nth-child(3) {
  min-width: 20%;
  padding-right: 20px;
}

.project-list-name>h2,
.project-item>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.page-btn-container{
  width: 100px;
  height: 40px;
  margin-top: auto;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-number{
  width: 30px;
  height: 30px;
  background-color: rgb(28, 95, 239);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn{
  cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgb(229, 229, 229);
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* new project start */

.new-project-container{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: rgba(48, 48, 48, 0.707);
  display: flex;
  justify-content: center;
}

.new-project-form,
.add-member-form,
.new-ticket-form{
  width: 400px;
  padding: 50px 20px 30px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.new-project-form{
  height: 600px;
}

.add-member-form{
  height: 300px;
}

.new-ticket-form{
  height: 650px;
}

.form-header{
  padding: 0 10px 0 0;
  display: flex;
  justify-content: space-between;
}

.close{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.463);
  border-radius: 4px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover{
  background-color: gray;
  color: white;
}

option:checked{
  background-color: rgb(51, 160, 233);
}

.new-project-form label,
.new-project-form input,
.new-project-form textarea,
.new-project-form select,
.add-member-form label,
.add-member-form input,
.add-member-form textarea,
.add-member-form select,
.new-ticket-form label,
.new-ticket-form input,
.new-ticket-form textarea,
.new-ticket-form select{
  margin-top: 15px;
}

.new-project-form label{
  font-size: 16px;
}

.new-project-form .btn,
.add-member-form .btn,
.new-ticket-form .btn{
  height: 40px;
  margin-top: 30px;
}

.form-sec{
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.form-sec:nth-of-type(3){
  height: 100px;
}

.form-sec select{
  width: 110px;
}

.form-sec:nth-of-type(2) select, 
.form-sec:nth-of-type(2) input{
  width: 170px;
}

.edit{
  cursor: pointer;
  margin-left: auto;
  writing-mode: vertical-rl;
}

.edit-container{
  position: absolute;
  z-index: 5;
  /* right: 0; */
  width: 100px;
  height: 60px;
  /* margin: 40px 70px 0 0; */
  background-color: white;
  box-shadow: .5px .5px 5px .5px rgba(62, 62, 62, 0.5);
  border-radius: 5px;
  /* transition: .5s ease-in-out; */
}

.edit-container::-webkit-scrollbar{
  display: none;
}

.open{
  display: block;
}

.closing{
  display: none;
}

#mem-edit{
  height: 30px;
  /* margin: 10px 710px 0 0; */
}

.edit-container li{
  cursor: pointer;
  width: 100%;
  height: 30px;
  color: rgb(77, 77, 77);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-container li:hover {
  background-color: rgb(57, 148, 233);
  color: white;
}

.edit-container li:nth-of-type(1){
  border-radius: 5px 5px 0 0;
}

.edit-container li:nth-of-type(2) {
  border-radius: 0 0 5px 5px;
}

/* projects page start */

.project{
  width: 100%;
  min-height: 90vh;
  padding: 10px 30px;
}

.project-title{
  width: 100%;
  height: 35px;
  padding: 0 30px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.project-title h1{
  width: 30%;
}

.project-main{
  display: flex;
  justify-content: space-between;
}

.team-container,
.tickets-container {
  width: 620px;
  height: 290px;
  max-height: 290px;
  margin-bottom: 28px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.team-container ul,
.tickets-container ul{
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.team-head,
.ticket-head {
  min-height: 50px;
  padding: 0 30px;
  border-bottom: 1px solid rgba(208, 208, 208, 0.574);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-item{
  min-height: 40px;
  padding: 0 30px;
  border-bottom: 1px solid rgb(234, 234, 234);
  display: flex;
  align-items: center;
}

.no{
  background-color: white;
  color: black;
}

.yes{
  background-color: rgb(57, 148, 233);
  color: white;
}

.ticket-item h2{
  cursor: pointer;
  padding-right: 5px;
  width: 20%;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ticket-item p:nth-of-type(1){
  width: 48%;
  margin-right: 12px;
}

.ticket-item p:nth-of-type(2) {
  width: 30%;
}

.ticket-item p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ticket info starts */

.ticket-info-container{
  width: 100%;
  height: 275px;
  padding: 10px;
  margin-top: -20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ticket-info-container h2{
  width: 100%;
}

.ticket-info{
  width: 49.5%;
  padding: 10px;
  margin-top: 5px;
  height: 235px;
  box-shadow: .5px .5px 4px .5px rgba(0, 0, 0, 0.2);
}

.ticket-titles,
.ticket-stats{
  width: 100%;
  padding: 2px;
  color: rgb(153, 153, 153);
  display: flex;
}

.ticket-title-answers,
.ticket-stats-answers {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  display: flex;
}


.ticket-titles h2:nth-of-type(1),
.ticket-titles h2:nth-of-type(2),
.ticket-title-answers h2:nth-of-type(1),
.ticket-title-answers h2:nth-of-type(2),
.ticket-stats h2:nth-of-type(n){
  width: 25%;
}

.ticket-titles h2:nth-of-type(3),
.ticket-title-answers h2:nth-of-type(3) {
  width: 45%;
  white-space: nowrap;
    overflow: hidden;
  text-overflow: ellipsis;

}

.badge{
  width: 200px;
  height: 20px;
  padding: 0 10px;
  margin: 0 90px 0 0;
  background-color: lightblue;
  border-radius: 10px;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.author-container{
  display: flex;
  flex-wrap: wrap;
}

.author-container h2:nth-of-type(1){
  width: 100%;
  margin-bottom: 5px;
}

.comment-container{
  width: 100%;
  height: 155px;
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.comment-container::-webkit-scrollbar,
.projects-container ul::-webkit-scrollbar,
.team-container ul::-webkit-scrollbar,
.tickets-container ul::-webkit-scrollbar,
.all-tickets-container ul::-webkit-scrollbar,
.all-team-container ul::-webkit-scrollbar{
  width: 8px;
}

.comment-container::-webkit-scrollbar-track,
.projects-container ul::-webkit-scrollbar-track,
.team-container ul::-webkit-scrollbar-track,
.tickets-container ul::-webkit-scrollbar-track,
.all-tickets-container ul::-webkit-scrollbar-track,
.all-team-container ul::-webkit-scrollbar-track{
  background-color: rgb(239, 239, 239);
  border-radius: 0 0 10px 10px;
}

.comment-container::-webkit-scrollbar-thumb,
.projects-container ul::-webkit-scrollbar-thumb,
.team-container ul::-webkit-scrollbar-thumb,
.tickets-container ul::-webkit-scrollbar-thumb,
.all-tickets-container ul::-webkit-scrollbar-thumb,
.all-team-container ul::-webkit-scrollbar-thumb{
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
}

.comment{
  width: 100%;
  height: 77.5px;
  padding: 5px;
  box-shadow: inset .5px .5px 2px .5px rgba(114, 114, 114, 0.284);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.comment h2{
  width: 95%;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}
.comment p{
  height: 70px;
}

.delete{
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.ticket-comment{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.ticket-comment input{
  width: 500px;
  height: 30px;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.submit{
  cursor: pointer;
  width: 90px;
  height: 30px;
  background-color: rgb(118, 209, 240);
  border-radius: 0 8px 8px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tickets start */

.tickets{
  width: 100%;
  min-height: 90vh;
  padding: 10px 30px;
}

.all-tickets-container{
  width: 100%;
  min-height: 600px;
  max-height: 600px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.all-tickets-container ul{
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}



.all-tickets-list-name {
  min-height: 40px;
  padding: 0 30px;
  background-color: rgb(243, 243, 243);
  color: rgb(153, 153, 153);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-tickets-list-name>h2 {
  font-size: 12px;
}

.all-tickets-item {
  height: 40px;
  padding: 0 30px;
  border-bottom: 1px solid rgb(234, 234, 234);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.all-tickets-item h2{
  width: 290px;
}

.all-tickets-item p:nth-of-type(1){
  width: 290px;
}

.all-tickets-item p:nth-of-type(2) {
  width: 300px;
}

.all-tickets-item p:nth-of-type(3) {
  width: 270px;
}


.all-tickets-item div{
  display: flex;
}

/* team starts */

.team{
  width: 100%;
  height: 90vh;
  padding: 10px 50px;
  display: flex;
  justify-content: space-around;
}

.all-team-container,
.team-cover {
  width: 38%;
  min-height: 490px;
  max-height: 490px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.all-team-container ul{
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: hidden;  
}

.team-cover{
  position: absolute;
  z-index: -2;
  left: 0;
  margin-left: 142px;
  background-color: rgba(213, 212, 212, 0.5);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.team-list-name {
  min-height: 40px;
  padding: 0 30px;
  background-color: rgb(243, 243, 243);
  color: rgb(153, 153, 153);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-details-container,
.detail-cover{
  width: 50%;
  height: 490px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.detail-cover {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 47.5%;
  margin-right: 2px;
  background-color: rgba(213, 212, 212, 0.5);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.member-form{
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.member-field{
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.member-field:last-of-type{
  flex-direction: row;
  justify-content: space-around;
}

.member-field .btn{
  height: 40px;
}

#delete{
  background-color: rgb(237, 94, 94);
}

#delete:hover{
  background-color: rgb(232, 31, 31);
}

.sure-cover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  width: 100vw;
  height: 100vh;
  background-color: rgba(165, 165, 165, 0.321);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.sure-container{
  width: 260px;
  height: 100px;
  padding: 15px 0;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sure-btn{
  display: flex;
}

.sure-btn .btn{
  margin: 0 5px;
}

/* profile starts */

.profile{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.profile-container{
  width: 380px;
  height: 380px;
  padding: 50px 20px 30px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.profile-info{
  width: 300px;
  padding: 20px 20px 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info:nth-of-type(6){
  flex-direction: column;
}

.profile-info h2{
  width: 280px;
}

.profile-info h2:nth-of-type(1){
  font-weight: bold;
}

.profile-info h2:nth-of-type(2) {
  margin-right: 40px;
}

.profile-info input{
  height: 25px;
  width: 180px;
}

.profile-edit{
  cursor: pointer;
  margin: 5px 0;
  color: rgb(61, 198, 225);
}

.profile-edit:hover{
  color: rgb(8, 121, 144);
}